*{
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
}
body {
text-align: center;
background:#2e2e2e;
margin-top: 2rem;
margin-left: 15rem;
margin-right: 15rem;
}



h1{
    font-family: cursive;
    color: #7cffde;
    margin-bottom: 1rem;
}
p{
    margin-top: 2rem;
    color: #caeae3;
    line-height: 2;
    font-family: 'Courier New', Courier, monospace;
}

p1{
   color: #7cffde;
font-family: cursive;
font-size: 20px;
}


.box{
  background-color: rgba(182, 255, 242, 0.6);
  color: #d7fff5;
    box-sizing: content-box;
    width:auto;
    height:auto;
    padding:30px;
    margin: 50px auto;
    text-align:justify;
    line-height: 1.5em;
    align-items: center;
}

.box2{
    background-color: rgba(182, 255, 242, 0.6);
    border-radius: 48%;
}

.box3{
    background-color: rgba(182, 255, 242, 0.6);
    border-radius: 40%;
}